.App {
  margin: auto;
}

.profile {
  margin: 20px auto;
  width: 340px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.description {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 25px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: antiquewhite;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tag,
.location {
  margin-bottom: 10px;
  font-size: 20px;
  color: #8a8b8e;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #aaa7ac;
  border-radius: 0 0 10px 10px;
  background-color: #aaa7ac2a;
  padding: 0;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 113px;
  border-left: 1px solid #aaa7ac;
}

.stats li:first-child {
  border-left: 0px;
}

.label {
  color: #8a8b8e;
  margin-bottom: 7px;
}

.quantity {
  font-weight: bold;
}
