.transactionHistory {
  margin: 40px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.transactionHistory thead th {
  width: 300px;
  text-transform: uppercase;
  text-shadow: 0 0 3px #000;
}

.transactionHistory thead tr {
  height: 40px;
  background: #00bcd5;
  color: #fff;
  border-radius: 0.5rem 0 0 0;
}

.transactionHistory th:first-child {
  border-radius: 10px 0 0 0;
}

.transactionHistory th:last-child {
  border-radius: 0 10px 0 0;
}

.transactionHistory tr:nth-child(even) {
  background: #f2f2f2;
}

.transactionHistory tbody tr {
  height: 40px;
  color: #8a8b8e;
  text-align: center;
  text-transform: capitalize;
}
