.item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.offline {
  width: 15px;
  height: 15px;
  margin: auto 50px;
  border-radius: 50%;
  background-color: red;
}

.online {
  composes: offline;
  background-color: green;
}

.avatar {
  width: 60px;
  height: 60px;
  padding: 7px;
}

.name {
  font-weight: bold;
  font-size: 30px;
  margin: auto 0px;
}
